html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    background: #FAFAFA;
    color: #424242;
    width: 370px;
    height: 600px;
    font-size: 1rem;
    line-height: 1.5;
}

::-moz-selection {
    background: #FFCDD2;
}
::selection {
    background: #FFCDD2;
}

a {
    color: #F44336;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}
a:hover,
a:focus,
a:active {
    color: #D32F2F;
}

.icon {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    width: 1em;
    height: 1em;
}

.header {
    width: 370px;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.875rem;
    line-height: 1;
    position: relative;
}
.header-logo {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: #424242;
}
.header-logo img,
.header-logo span {
    display: block;
}
.header-logo img {
    margin-right: 5px;
}
.dropdown-menu-toggle {
    display: block;
    font-size: 1.125rem;
    color: #424242;
}
.dropdown-menu {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    position: absolute;
    top: 40px;
    right: 10px;
    padding: 0.5rem 0;
    border-radius: 3px;
    min-width: 125px;
}
.dropdown-menu a {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    color: #757575;
}
.dropdown-menu a:hover,
.dropdown-menu a:focus {
    color: #D32F2F;
}

.header-tabs {
    display: flex;
    width: 100%;
}
.header-tabs a {
    display: block;
    flex: 1;
    padding: 0.625rem;
    color: #757575;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
}
.header-tabs a.active {
    color: #F44336;
    border-bottom: 2px solid #F44336;
}
.header-tabs a:hover,
.header-tabs a:focus {
    color: #D32F2F;
}

.main {
    padding: 6rem 1rem 1rem;
}

.auth {
    clear: both;
    padding: 1.5rem;
    text-align: center;
}
.auth-logo {
    margin-top: 1rem;
}
.auth-title {
    font-size: 2rem;
    margin: 1rem 0;
    color: #424242;
}
.auth-link {
    font-size: 0.875rem;
}
.auth-link:hover,
.auth-link:focus {
    text-decoration: underline;
}

.input-field {
    display: block;
    width: 100%;
    margin: 0.75rem 0;
    padding: 0.75rem;
    border-radius: 3px;
    box-shadow: inset 0 0 3px #EEEEEE;
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
    color: #424242;
    font-size: 0.75rem;
    outline: 0;
}
.input-field.special {
    padding: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}
.input-field:read-only,
.input-field:disabled {
    background: #EEEEEE;
}
.input-field:focus {
    border-color: #BDBDBD;
}
.input-field::placeholder {
    color: #9E9E9E;
}

.button, a.button {
    display: block;
    margin: 0.75rem 0;
    padding: 0.875rem;
    width: 100%;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    background: #FFFFFF;
    color: #757575;
    font-size: 0.875rem;
    line-height: 1;
    cursor: pointer;
    outline: 0;
}
.button:disabled {
    opacity: 0.5;
}
.button:hover,
.button:focus {
    background: #F5F5F5;
}
.button:active {
    transform: translateY(1px);
}

.button.brand {
    border: 1px solid #F44336;
    background: #F44336;
    color: #FAFAFA;
    font-weight: 600;
}
.button.brand:hover,
.button.brand:focus {
    border: 1px solid #D32F2F;
    background: #D32F2F;
}

.button_group {
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}
.button_group .button {
    width: 48%;
    margin: 0;
}

.form-info {
    color: #616161;
    font-size: 0.75rem;
    text-align: left;
    margin: 0.75rem 0 1rem;
}
.form-info.center {
    text-align: center;
}

.message {
    text-align: left;
    background: #E0E0E0;
    border-left: 5px solid #BDBDBD;
    color: #757575;
    padding: 0.5rem;
    font-size: 0.75rem;
}
.message.error {
    background: #FFCDD2;
    border-left-color: #E57373;
    color: #E53935;
}

.line-through {
    position: relative;
    margin: 20px 0;
    color: #9E9E9E;
    font-size: 0.75rem;
    line-height: 1;
}
.line-through::before {
    content: "";
    display: block;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: absolute;
    top: 50%;
    z-index: 1;
}
.line-through span {
    position: relative;
    background: #FAFAFA;
    padding: 3px 10px;
    z-index: 10;
}

.box {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    font-size: 0.875rem;
    text-align: center;
}
.box.highlight {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}
.box.no-padding {
    padding: 0;
}

.box-label {
    font-size: 0.625rem;
    text-transform: uppercase;
    color: #BDBDBD;
    padding: 0 0 1rem;
}

.box-balance {
    font-size: 2rem;
    font-weight: 600;
    word-wrap: break-word;
}
.box-balance-code {
    color: #9E9E9E;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0 0 1rem;
}

.box-text {
    font-size: 0.75rem;
    color: #9E9E9E;
}
.box-expires {
    font-weight: 600;
}

.box-buttons {
    display: flex;
    margin: 1rem -1rem -1rem;
    border-top: 1px solid #EEEEEE;
}
.box-buttons a {
    display: block;
    flex: 1;
    margin: 0;
    padding: 1rem;
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
}
.box-buttons a {
    border-right: 1px solid #EEEEEE;
    color: #757575;
}
.box-buttons a.red {
    color: #F44336;
}
.box-buttons a.green {
    color: #8BC34A;
}
.box-buttons a.blue {
    color: #03A9F4;
}
.box-buttons a:last-child {
    border-right: none;
}
.box-buttons a:hover,
.box-buttons a:focus {
    background: #FAFAFA;
}
.box-buttons a:active {
    box-shadow: inset 0 1px 3px rgba(238, 238, 238, 0.5);
}
.box-buttons a:active span {
    display: block;
    transform: translateY(1px);
}

.box-row {
    display: flex;
    border-bottom: 1px solid #EEEEEE;
}
.box-row:last-child {
    border-bottom: none;
}
.box-column {
    border-right: 1px solid #EEEEEE;
    padding: 1rem;
    flex: 1;
    width: 50%;
}
.box-row:last-child {
    border-right: none;
}
.box-column .box-balance {
    font-size: 1.125rem;
}
.box-column .box-balance-code {
    font-size: 0.625rem;
    color: #BDBDBD;
    margin-top: 5px;
    padding: 0;
}

.box-address-label {
    font-size: 0.625rem;
    text-transform: uppercase;
    color: #9E9E9E;
    margin: 0.5rem 0 0.25rem;
}
.box-address {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.message-empty {
    padding: 0.75rem;
    font-size: 0.875rem;
    text-align: center;
    color: #BDBDBD;
}

.token {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 0.75rem;
}
.token span {
    display: block;
}
.token-name {
    color: #9E9E9E;
    font-size: 0.875rem;
}
.token-balance {
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
    word-break: break-all;
    padding-left: 1rem;
}

.transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
    color: #424242;
}
.transaction:hover,
.transaction:focus {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.transaction:active {
    transform: translateY(1px);
}
.transaction span {
    display: block;
}
.transaction-content {
    width: 90%;
}
.transaction-contract {
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.25rem;
}
.transaction-date {
    font-size: 0.625rem;
    color: #9E9E9E;
}
.transaction-icon {
    width: 10%;
    font-size: 1rem;
    color: #757575;
    text-align: right;
}
.transaction:hover .transaction-icon,
.transaction:focus .transaction-icon {
    color: #D32F2F;
}

.load-more {
    display: block;
    padding: 1rem;
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
}

.transfer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
    color: #424242;
}
.transfer:hover,
.transfer:focus {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
.transfer:active {
    transform: translateY(1px);
}
.transfer-content,
.transfer-address,
.transfer-date,
.transfer-amount {
    display: block;
}
.transfer-icon {
    display: flex;
    font-size: 24px;
    padding: 8px;
    width: 40px;
    color: #F44336;
}
.transfer-content {
    flex: 1;
    padding: 0.625rem 0;
}
.transfer-address {
    font-weight: 600;
    margin-bottom: 3px;
    color: #424242;
}
.transfer-date {
    color: #BDBDBD;
    font-size: 0.625rem;
}
.transfer-amount {
    flex: 1;
    padding: 0.5rem 0.625rem;
    font-size: 0.75rem;
    word-break: break-all;
    text-align: right;
}
.transfer-icon,
.transfer-amount {
    color: #F44336;
}
.transfer-icon.incoming,
.transfer-amount.incoming {
    color: #8BC34A;
}
